* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/galaxy-11098_1920.jpg)
}

.box1 {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 550px;
    margin: 50;
    border: 1px solid white;
    border-radius: 80px;
}

.box1 h1 {
    margin: 100px 0px 50px 0px;
}



.box1 .idpw input {
    width: 280px;
    position: relative;
    margin: 10px ;
    background-color: gray; /* 버튼 배경색 설정 */
    color: white; /* 버튼 텍스트 색상 설정 */
    padding: 8px 20px; /* 버튼 내 여백 조절 */
    border: none;
}

.box1 button {
    width: 280px;
    margin: 40px ;
    background-color: gray; /* 버튼 배경색 설정 */
    color: white; /* 버튼 텍스트 색상 설정 */
    padding: 8px 20px; /* 버튼 내 여백 조절 */
    border: none;
    border-radius: 10px;
}

.idpwmodi {
    margin: 0px 100px;
    position: relative;
}

.box1 .oneline1 {
    position: relative;
    float: left;
}

.box1 .oneline2 {
    position: relative;
    float: right;
}

body p a {
    color: white;
    text-decoration: none;
    margin: 10px;
}