* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    height: 300px;
}

/* 
    플렉스 박스에 대해서 알아보았다
    플렉스 박스는 보통 레이아웃을 잡는데 많이 사용한다.

    플렉스 박스의 사용 방법은 display를 flex로 주는 것으로 부터 시작된다.
    플렉스 박스로 지정해주면 요소들은 가로롤 배치가 된다.
    그리고 플렉스는 블록요소이기 때문에 라인 하나를 다 잡아먹는다.
    다 잡아먹지 않고 인라인요소처럼 만들어 주기 위해서는 display:inline-flex;
    로 바꾸어주면 된다.

    이제부터 배울 것은 플렉스박스에 관한 속성들이 될 것이다.
    배워보도록 하자.
*/