.container {
    position: relative;
    width: 1024px;
    min-height: 500px;
    border: 1px dashed orange;
    margin: auto;
}

.item {
    width: 300px;
    height: 200px;
}

h1 {
    text-align: center;
}

.inner { height: 100px; }

.left { float: left; background-color: pink; }
.right { float: right; background-color: lightblue; }
.next { background-color: cornflowerblue;}

.clear-left { clear: left;}
.clear-right { clear: right;}
.clear-both { clear: both; }

/* 
    플로트를 사용하면 한글에서 이미지를 넣었을 때와 비슷한 화나는
    상황이 발생하는데, 이런 것을 보안해 주기 위해 사용하는 것이
    clear속성이다.
*/